/dts-v1/;
/plugin/;

/ {
    compatible = "nvidia,p3449-0000-b00";

    fragment@0 {
        target-path = "/spi@7000d400/spi@0";

        __overlay__ {
            compatible = "ipc-bridge,telem0";
            reg = <0>;
            spi-max-frequency = <1000000>;
            status = "okay";

            ready-gpios = <&gpio 200 0>;
        };
    };
};
