.git
.github
.vscode

kernel/*.o
kernel/*.ko
kernel/*.mod
kernel/*.mod.c
kernel/*.cmd
kernel/Module.symvers
kernel/modules.order
kernel/.tmp_versions

kernel/dts/jetson/*.dtbo

user/telemetry_reader/build/

*.elf
*.bin
*.hex

jetson_setup.log
